:root {
    --text-color: #090909;
}

.footer-address {
    color: var(--text-color);
}

.social-link {
    display: block;
}

/* Style SVG elements within social links */
.social-link svg {
    fill: var(--text-color); /* Apply the text color to the SVG fill */
}
